# Environment variables
.env
.env.*
!.env.example
new-tkinter-firebase-adminsdk-9yqh4-3f07ad3288.json

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo